extends ../layout

block content
	.container.margin-btm
		
		h3
			a(href="/admin/movie/showAdd")
				span.label.label-primary New
		.row
			table.table.table-hover.table-bordered
				thead
					tr
						th Movie Name
						th Director
						th Country
						th Language
						th Category
						th PV
						th View
						th Edit
						th Delte
				tbody
					each item in movies
						tr(class="item-id-#{item._id}")
							td #{item.title}
							td #{item.director}
							td #{item.country}
							td #{item.language}
							td #{item.category.name}
							td #{item.pv}
							td: a(target="_blank",href="/movie/#{item._id}") View
							td: a(target="_blank",href="/admin/update/#{item._id}") Edit
							td 
								button.btn.btn-danger.del(type="button", data-id="#{item._id}") Delete

	script(src="/js/userList.js")